html, body {
    width: 100%;
    height: 100%;
    overflow-x: hidden;
}

header {
    background-color: rgb(202, 24, 24);
    display: flex;
    justify-content: center;
    align-content: center;
    padding: 1%;
    gap: 1%;
}

.imgprinc {
    width: 100%;
    height: 55%;
}

.tudo {
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 67%;
    padding: 2%;
    gap: 5%;
}

.noticia1, .noticia2 {
    width: 96%;
    height: 50%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 1%;
}

h1 {
    font-size: 300%;
    align-content: center;
}

#c1 {
    width: 100%;
    height: 100%;
}

#c2, #c3 {
    width: 50%;
    height: 75%;
    padding-right: 2%;
}

h2 {
    font-size: 250%;
    text-align: center;
    margin-right: 4%;
}

p {
    font-size: 150%;
    width: 65%;
    line-height: 130%;
    text-align: justify;
    padding: 2%;
}

.demonio {background-color: rgba(146, 32, 89, 0.356);}
.anjo {background-color: rgba(146, 139, 32, 0.356);}

.tita {
    width: 4%;
    height: 4%;
}


@media screen and (max-device-width: 480px) {
	p {
        font-size: 100%;
        line-height: 120%;
    }

    h2 {
        font-size: 160%;
    }

    .tita {
        width: 10%;
        height: 10%;
    }

    .imgprinc {
        width: 100%;
        height: 30%;
        margin-bottom: 5%;
    }

    .noticia1, .noticia2 {
        flex-direction: column-reverse;
        height: 75%;
    }

    #c2, #c3 {
        width: 50%;
        height: 200%;
    }
}