:root {
    --cor_menu: #C4160D;
    --cor-texto_branco: #F9F9F9;
    --cor_verde: #05A948;
    --cor_azul: #0569DE;
    --cor_laranja: #FF6701;
    --cor_rosa: #FB0434;
    --cor_azulescuro: #1D4C9A;
    --cor_ciano: #016767;
    --cor_vermelhoescuro: #9D110A;
}

@font-face {
    font-family: "Globo Cd Bd";
    src: url("../fonts/Globo-Cd-Bd.ttf") format("truetype");
    font-weight: bold;
}

html, body {
    width: 100%;
    height: 100%;
    overflow-y: hidden;
    overflow-x: hidden;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bold;
    background-color: rgb(240, 240, 240);
}

#boxflex {
    background-color: var(--cor_menu);
    display: flex;
    justify-content: space-between;
    padding: 1%;
    align-items: center;
    color: var(--cor-texto_branco);
    font-family: "Globo Cd Bd";
}

#inp-search {
    background-color: var(--cor_vermelhoescuro);
    padding: 0.5%;
    border-radius: 5px;
}

#logo-main {height: 6%; width: 6%;}
#teste {background-color: var(--cor_vermelhoescuro); border: 0px;}
#teste::placeholder{color: var(--cor-texto_branco); font-weight: bold;}


header {
    display: flex;
    justify-content: space-between;
    padding: 5px 1% 5px 1%;
    align-items: center;
    border-top: 2px solid black;
    font-size: large;
    font-family: "Globo Cd Bd";
    background-color: var(--cor-texto_branco);
}

#denise {
    width: 4%;
    height: 4%;
    border-radius: 50%;
}

#user {
    display: flex;
    justify-content: end;
    align-items: center;
    gap: 1%;
}

#links {
    display: flex;
    white-space: nowrap;
    gap: 7%;
}

a {text-decoration: none;}
#l1 {color: var(--cor_azul);}
#l2 {color: var(--cor_menu);}
#l3 {color: var(--cor_verde);}
#l4 {color: var(--cor_laranja);}
#l5 {color: var(--cor_rosa);}
#l6 {color: var(--cor_menu);}
#l7 {color: var(--cor_azulescuro);}
#l8 {color: var(--cor_ciano);}

#sitegeral {
    margin: 2%;
    width: 96%;
    height: 100%;
    display: flex;
    gap: 1%;
}

#noticia1 {
    width: 46%;
    height: 56%;
    border: 1px solid rgba(0, 0, 0, 0.147);
    border-radius: 2%;
    padding: 2%;
    justify-content: space-between;
    padding-bottom: 7%;
    background-color: var(--cor-texto_branco);
}

#noticia1, #noticia2, #noticia3 {
    display: flex;
    flex-direction: column;
    line-height: 1.2;
    justify-content: space-between;
}

#noticiasimg {
    display: flex;
    flex-direction: column;
    width: 50%;
    height: 74%;
    gap: 2%;
}

#noticia2 {background-image: url("../foto-n2.jpg");}
#noticia3 {background-image: url("../foto-n3.jpg");}

#noticia2, #noticia3 {
    position: relative; /*precisa ter isso para a "tela preta" funcionar*/
    width: 81%;
    height: 50%;
    border-radius: 16px;
    padding: 4%;
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    color: var(--cor-texto_branco);
}

/*os próximos 2 comandos é só pra escurecer as imagens*/
#noticia2 *, #noticia3 * {z-index: 2;} /*coloca tudo uma camada acima*/

#noticia2::after, #noticia3::after {/*after é pra criar um elemento q n existe no HTML, no caso a "tela preta"*/
    content: ""; /*cria um conteúdo vazio*/
    position: absolute; /*faz com q fixe no lugar certo*/
    inset: 0; /*cobre tudo*/
    border-radius: 16px;
    background-color: rgba(0, 0, 0, 0.256);
}

.textoN {
    display: flex;
    flex-direction: column;
    gap: 30px;
}

h1 {
    font-size: 275%;
    width: 80%;
    color: var(--cor_menu);
}

.texto {
    font-weight: normal;
    width: 90%;
    font-size: large;
}

h2 {font-size: 175%; width: 85%;}
#peixe {width: 80%;}

@keyframes slidein {
    from {background-size: cover;}
    to {background-size: 130%;}
}

#noticia2:hover, #noticia3:hover{animation: slidein 0s forwards;}
#menu:hover, h1:hover, .denise:hover, #noticia2:hover, #noticia3:hover {cursor: pointer;}