html {width: 100%; height: 100%;}
body {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    text-align: center;
    font-size: 130%;
    font-family: 'Courier New', Courier, monospace;
    font-weight: bold;
    background-image: url("YT.jpg");
    background-size: 40%;
    background-position: center;
}

#user {
    width: 40%;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 3%;
    padding: 2%;
}

#nome {font-size: 200%;}
#frase {max-width: 50%;}

#foto{
    width: 35%;
    height: 30%;
    border-radius: 50%;
}

#container-links {
    display: flex;
    flex-direction: column;
    width: 100%;
}

.link {
    padding: 4%;
    border: solid 1px;
    border-radius: 10px;
    cursor: pointer;
}
.link:hover {color: white;}

#box {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

#login {
    background-color: rgb(255, 89, 89);
    width: 28%;
    height: 32%;
    border-radius: 15px;
    padding: 2%;
    display: flex;
    flex-direction: column;
    gap: 10%;
}

h1 {
    color: white;
    text-shadow: 0 0 5px red, 0 0 10px red, 0 0 20px red, 0 0 40px red;
    font-size: 200%;
    padding-bottom: 1.5%;
}

h2 {font-size: 180%;}
input {width: 75%; padding: 1.5%;}
button {
    background-color: red;
    color: white;
    border: 0px;
    width: 100%;
    padding: 2%;
    font-size: 90%;
    border-radius: 15px;
    font-weight: bold;
}

button:hover {
    cursor: pointer;
    background-color: white;
    color: red;
}